%h4 External Links

%P
  %a(href='https://userweb.epic.com/SignIn?ReturnUrl=https%3a%2f%2fsites.epic.com%2f') Epic's UserWeb

%p
  %a(href="https://www.zynx.com/authorspace/logon.aspx?gotoreference=yes") Zynx Health
