---
layout: default
title: About
---
/ use the :mardown filter if you want to write pages with Markdown
:markdown
  # About Epic Updates

  This site aims to provide information about Anesthesia and Pain Management related Epic development.