---
layout: wo_sidebar
title: Timeline
---

%h2 Timeline
%p This is a rough timeline of the Epic rollout as of October 18, 2010.
%hr
%img(src="http://oagpsv-epic.s3.amazonaws.com/epic_rollout_v10-18-2010.png")
