---
layout: default
title: About
---

:markdown
  # Using Zynx

  We greatly appreciate your willingness to help with the order set review process. Here is how you can help:

  1. We will forward you an email that contains a link to the order set of interest.
  2. After you click the link, type in your name and enter the site.
  3. On the left, you will see the order set. For any order that you want to comment on, just click that order to highlight it. Then you can comment on that specific order using the area on the right side of the page.
  4. If you prefer no to leave comments directly in Zynx, just send us an email with your thoughts.